[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==3.2"
django-rest-auth = "==0.9.5"
pipreqs = "*"
django-allauth = "==0.41.0"
coreapi = "==2.3.3"
pyyaml = "==5.1.2"
django-rest-swagger = "==2.2.0"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"
